.agentCardBox {
  /* border: solid; */
  width: 400px;
  /* height: 400px; */
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 6.25%,
    #ffffff 74.42%
  );
  box-shadow: 0px 35px 121px rgba(10, 13, 17, 0.08);
  border: none;
  border-radius: 65px 65px 0px 0px;
  border: solid;
  overflow: hidden;
}
.agentCardTopImage {
  /* border: solid; */
  width: 100%;
  height: 100px;
  overflow: hidden;
}
.agentCardTopImage img {
  /* border: solid; */
  /* width: 100%; */
  /* height: 200px; */
  margin: 0 -100px;
}

.col-icon-div {
  width: 60%;
  margin: 0 auto;
}
.col-div .profile-image {
  border: 5px solid var(--main-blue);
  border-radius: 50%;
  width: 150px;
}
.col-div p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.col-div .fancy-button p {
  font-size: 16px;
  font-weight: normal;
}
.col-div .fancy-button i {
  font-size: 16px;
  font-weight: normal;
  margin: 0 10px;
}
.col-div .col-location-div {
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
@media screen and (max-width: 1390px) {
  .agentCardBox {
    /* border: solid; */
    width: 500px;
  }
}
@media screen and (max-width: 1175px) {
  .agentCardBox {
    width: 400px;
    right: 10px;
  }
}
@media screen and (max-width: 938px) {
  .agentCardBox {
    right: 5px;
  }
}
@media screen and (max-width: 725px) {
  .agentCardBox {
    position: absolute;
    right: 0;
  }
}
@media screen and (max-width: 405px) {
  .agentCardBox {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .col-div .profile-image {
    border: 5px solid var(--main-blue);
    border-radius: 50%;
    width: 90px;
  }
  .agentCardTopImage {
    height: 80px;
  }
}
@media screen and (max-width: 662px) {
  .col-div .profile-image {
    border: 5px solid var(--main-blue);
    border-radius: 50%;
    width: 100px;
  }
}
@media screen and (max-width: 354px) {
  .col-div .fancy-button {
    /* background-color: red; */
    margin: 5px !important;
    padding: 0px !important;
    height: 30px;
    min-width: 125px !important;
  }
}
@media screen and (max-width: 276px) {
  .col-div .fancy-button {
    min-width: 80px !important;
  }
  .col-div .fancy-button p {
    display: none;
  }
}
