.agentPic {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid red; */
  /* width: 100px; */
  padding: 40px 0;
  margin: 0px;
}

.agentPic > img {
  align-content: center;
  justify-content: center;
  padding: 0px;
  align-items: center;
  cursor: pointer;
  /* width: 100px; */
  /* border: solid; */
  border: none;
  border-radius: 50%;
  width: 150px;
}
@media screen and (max-width: 1175px) {
  .agentPic > img {
    width: 130px;
  }
}
@media screen and (max-width: 938px) {
  .agentPic > img {
    width: 100px;
  }
}
@media screen and (max-width: 800px) {
  .agentPic > img {
    width: 80px;
  }
}
@media screen and (max-width: 661px) {
  .agentPic > img {
    /* padding: 5px; */
    width: 100px;
  }
}
@media screen and (max-width: 429px) {
  .agentPic > img {
    /* padding: 3px; */
    width: 80px;
  }
}
