.footerContainer {
  background-color: var(--main-blue);
  width: 100%;
  margin: 0 !important;
  color: white;
  font-size: 20px;
  padding: 0px 5px;
}

.footerContainer-p {
  padding: 10px 10px;
}

.logoImageBorder {
  border-radius: 50%;
  width: 130px;
}
.footerLogoText {
  /* font-family: Istok Web;/ */
  font-style: normal;
  font-size: 20px;
}
.btn-fancy-button {
  background-color: #e51414;
  color: white;
  margin-left: 10px;
}

.footerLogoImg {
  width: 100%;
}

.footerSocialContact {
  display: flex;
  flex-direction: row;
  /* margin: 10px 25px; */
  justify-content: space-between;
  cursor: pointer;
}

.socials > img {
  object-fit: contain;
}

.footerSocialContact i:hover {
  border: 2px solid transparent;
}

.footerNavLink li {
  padding-bottom: 24px;
}

.footerCatLink li {
  padding-bottom: 3px;
}

h2 {
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 22px;
  padding-bottom: 16px;
}

.contactHeading {
  font-weight: bolder;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding-inline: unset;
  padding-left: unset;
}

.textLink {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.textLink:hover {
  text-decoration: underline;
  color: inherit;
}

.inputContactEmail {
  display: flex;
  flex-direction: column;
}

.inputContactEmail input {
  background: #ffffff;
  border-radius: 2px;
  border: none;
  outline: hidden;
  padding: 5px;
}

.subscribe-email {
  margin-right: 8px;
}

.inputContactEmail input[type='button'] {
  color: white;
  /* font-family: Istok Web; */
  font-style: normal;
  background-color: #dc3545;
  font-weight: bold;
  margin-left: 4px;
}

.footerBottom {
  text-align: center;
  border-top: 1px solid rgb(214, 211, 205);
  width: 100%;
  font-weight: bolder;
  font-size: 14px;
  background-color: var(--main-blue);
  padding-top: 10px;
}

.footerBottomText {
  text-decoration: underline;
  text-underline-position: under;
  color: rgb(214, 211, 205);
}

.col-md-4 > .flex-row > .btn {
  border-radius: 0px 18px 0px 0px;
  /* font-family: Istok Web; */
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
}

.col-md-4 > .flex-row > .py-1 {
  background: #ffffff;
  border-radius: 2px;
  padding: 10px;
  border: none;
}

/* .thirdSection {
  border-left: 1px solid white;
  height: 300px; 
  padding-left: 20px; 
} */

.secondPart {
  /* border-left: 1px solid white; */
  padding-left: 5px;
  padding-top: 20px;
}

.thirdPart {
  padding-right: 0px;
  margin-right: 0px;
}

.thirdSection {
  border-left: 1px solid white;
  padding-left: 20px;
  height: 320px;
}
/* .thirdPart {
  /* border-right: 1px solid white; * /
} */
.footerContainer-p .secondPart a,
.footerContainer-p .thirdPart a {
  color: rgb(187, 255, 255);
}
.footerContainer-p .secondPart a:focus,
.footerContainer-p .thirdPart a:focus {
  color: rgb(0, 255, 255);
}
