.footerContainer {
  background-color: rgb(25, 25, 189);
  width: 100%;
  margin: 0 !important;
  color: white;
  font-size: 20px;
}

.footerContainer-p {
  padding: 50px 30px;
}

.logoImageBorder {
  border-radius: 50%;
  width: 150px;
}
.footerLogoText {
  font-size: 20px;
}
.footerLogoImg > input[type="button"] {
  background-color: #e51414;
  color: white;
  margin-left: 10px;
}

.footerLogoImg > input[type="email"] {
  width: 75%;
}

.footerSocialContact {
  display: flex;
  justify-content: space-between;
  object-fit: contain;
  padding-top: 10px;
  font-size: 50;
}

h7 {
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 22px;
}

.contactHeading {
  font-weight: bolder;
  text-decoration: underline;
  text-align: right;
}

ul {
  list-style-type: none;
  padding-inline: unset;
  padding-left: unset;
}

/*Link {
  color: white;
  font-weight: 600;
  padding-bottom: 5rem;
  text-decoration: none;
}*/

.inputContactEmail input {
  margin-bottom: 8px;
  width: 100%;
}

.inputContactEmail textarea {
  width: 100%;
}

.inputContactEmail input[type="button"] {
  color: white;
  background-color: #e51414;
}

.footerBottom {
  text-align: center;
  border-top: 1px solid rgb(253, 253, 253);
  width: 100%;
  font-weight: bolder;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.footerBottomText {
  text-decoration: underline;
  text-underline-position: under;
}
