/* {blue color : #26539F
//       fade blue color : 
//       liner-gridant : #164697 ,5D82BA
//       botten color : #0B4095
//       botten color : #1A53B8
//       txet color : #164697
// font family : Montserrat
// header font size: 30
// font family :Istok Web;
// text-font size: 20
//       background: rgb(22,70,151);
// background:
      */
:root {
  --fade-blue: rgba(38, 82, 159, 0.5);
  --main-blue: #164697;
  --text-blue: #164697;
  --linear-gradient: linear-gradient(
    180deg,
    rgba(22, 70, 151, 1) 17%,
    rgba(22, 70, 151, 1) 31%,
    rgba(93, 130, 186, 1) 100%
  );
}
