#nav {
  /* background-color: blue; */
  display: inline-flex;
  width: 100%;
}
#nav .logo-div {
  width: 70px;
  height: 70px;
  /* border: solid; */
  border-radius: 50%;
  overflow: hidden;
  margin: auto 50px;
  margin-right: auto;
}
#nav .logo-div img {
  width: 70px;
  height: 70px;
}
#nav .link-div {
  margin: auto 50px;
}
#nav .link-div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

#nav .link-div ul li a {
  /* border: solid; */
  text-decoration: none;
  color: #fff;
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  /* margin: auto 0; */
}
#nav .link-div ul li a:hover {
  color: #164697;
}

.subMenuOne {
  display: none;
}

#nav .link-div ul li:hover .subMenuOne {
  display: block;
  position: absolute;
  margin-left: 0px;
  margin-top: 0px;
}

#nav .link-div ul li:hover .subMenuOne ul {
  display: block;
  /* margin: 10px; */
}

#nav .link-div ul li:hover .subMenuOne ul li {
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
  margin-top: 0px;
  text-align: center;
}

#nav .link-div ul li:hover .subMenuOne ul li a {
  font-family: Istok Web;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
  padding: 10px;
}

#nav .link-div ul li:hover .subMenuOne #bb1 {
  margin-left: -10px;
}

#nav .link-div ul li:hover .subMenuOne #bb2 {
  margin-left: -50px;
}

#nav .link-div ul li:hover .subMenuOne #bb3 {
  margin-left: -20px;
}

#nav .link-div ul li:hover .subMenuOne #bb4 {
  margin-left: 13px;
}

.subMenuTwo,
.subMenuThree {
  display: none;
}

.hoverOne:hover .subMenuTwo {
  display: block;
  position: absolute;
  margin-top: -50px;
  margin-left: 146px;
}

.hoverTwo:hover .subMenuThree {
  display: block;
  position: absolute;
  margin-top: -50px;
  margin-left: 89px;
}

.btn-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 25px;
}
.modal-backdrop {
  z-index: 0;
}
.modal-content {
  /* background-color: rgb(154, 152, 255) !important; */
  /* z-index: 999000 !important; */
  position: absolute;
}
.nav-item {
  width: 50%;
}
.nav-item .active {
  background-color: blue;
  color: #ddd;
}
.modal-top-button {
  text-decoration: none;
  text-align: center;
  padding: 10px 0;
  font-size: 20px;
  /* background-color: red; */
  width: 100%;
  /* border: solid; */
  display: block;
}
ul.nav {
  /* border: solid red; */
  margin-top: 20px;
}
.form-div {
  /* border: solid; */
}
.form-div .icon-div {
  /* border: solid; */
  font-size: 100px;
  color: blue;
}
.form-div .input-div {
  margin-top: 10px;
}
.form-div .input-div span {
  /* border: solid; */
  display: block;
  font-weight: 900;
  margin: 3px;
}
.form-div .input-div input {
  /* border: solid; */
  width: 100%;
  height: 50px;
  background-color: rgba(180, 180, 255, 0.611);
  color: rgba(0, 0, 28, 0.953);
  border: none;
  border-radius: 5px;
  padding: 0 10px;
}

.form-div .input-div input[type="checkbox"] {
  width: auto;
  height: auto;
}
.form-div .input-div input[type="button"] {
  background-color: rgba(31, 31, 248, 0.611);
  color: rgb(0, 0, 36);
  /* }rgba(98, 98, 255, 0.611)rgba(98, 98, 255, 0.871) */
}
.login-social-icon {
  /* border: solid; */
  display: flex;
  justify-content: space-around;
}
.login-social-icon .btn {
  border: solid;
  width: 100px;
  margin: 0 auto;
  font-size: 20px;
  color: rgba(31, 31, 248, 0.611);
}
.login-social-icon .btn:hover {
  color: rgba(1, 1, 136, 0.741);
}
.or-diver span {
  font-weight: 900;
}
.or-diver hr {
  /* border: solid; */
  width: 40%;
}
